.AdditionalTable {
    text-align: left;
    border-spacing: 0;
}

th {
    width: 40%;
    vertical-align: top;
}

.Stars{
    color: gold;
}

@media screen and (max-width:600px) {
    td, th {
        display: block;
    }
}