.Book {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px 30% 30px 30%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    align-items: flex-start;
    border-radius: 30px;
    border: solid #94bec1 2px;
    text-align: left;
}

.Content {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .Book {
        margin: 10%;
        text-align: center;
    }
}